<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" routerLink="/">Safari Books Offline</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/my-books">
            <i class="fa fa-list"></i> My books</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br/>